# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
.phpunit.result.cache

# Laravel IDE Helper (si tu l'utilises)
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Vite & npm
/public/build
/public/hot

# Logs & debug
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*

# Docker & local
docker/*.log
docker/traefik/acme.json
.docker/
*.pid
*.sock

# VSCodium / VSCode / JetBrains IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Autres fichiers potentiels
npm-debug.log
yarn-error.log
composer.lock
